@()

<script type="text/ng-template" id="delete_button.html">
	<button type="button" ng-click="$event.stopPropagation(); delete()" class="btn btn-danger btn-sm">
		<span class="fui-trash"></span>
		<span class="hidden-xs hidden-sm">Delete</span>
	</button>
</script>