@()

<script type="text/ng-template" id="edit_publication.html">

	<h1>Edit publication</h1>

	<div xhr-indicator="fetchingPublication">
		<publication-form   submit="edit"
							form="publication"
							ng-if="publication"
		></publication-form>

		<div ng-if="error" class="alert alert-danger text-center">
			{{ error }}
		</div>
	</div>

</script>