@()

<script type="text/ng-template" id="pagination.html">
	<nav class="pagination pagination-inverse dmd-pagination" ng-if="hasPrev || hasNext">
		<a href="" ng-click="prev()" class="btn btn-inverse previous" ng-disabled="!hasPrev">
			<span class="fui-arrow-left" aria-hidden="true"></span>
			PREV
		</a>
		<a href="" ng-click="next()" class="btn btn-inverse next" ng-disabled="!hasNext">
			NEXT
			<span class="fui-arrow-right" aria-hidden="true"></span>
		</a>
	</nav>
</script>