@()

<script type="text/ng-template" id="publication_form.html">
	<form ng-submit="submit(form)" name="publicationForm">

		<div class="row">
			<div class="col-xs-12 col-sm-6">

				<div class="form-group">
					<label for="title">Title</label>
					<input  type="text"
							ng-model="form.title"
							class="form-control"
							id="title"
							autofocus
					>
				</div>

				<div class="form-group">
					<label for="abstract">Abstract</label>
					<textarea  ng-model="form.pubAbstract"
								cols="30"
								rows="6"
								class="form-control"
								id="abstract"
					></textarea>
				</div>

				<div class="form-group">
					<label for="area">Research area</label>
					<input  type="text"
							ng-model="form.area"
							class="form-control"
							id="area"
					>
				</div>

				<div class="form-group">
					<label for="doi">DOI</label>
					<input  type="text"
							ng-model="form.doi"
							class="form-control"
							id="doi"
					>
				</div>


				<div class="form-group">
					<label for="year">Publication year</label>
					<input  type="number"
							min="1"
							ng-model="form.year"
							class="form-control"
							id="year"
					>
				</div>

			</div>
			<div class="col-xs-12 col-sm-6">

				<div class="form-group">
					<label for="paper_type">Paper Type</label>
					<select ng-model="form.pubType"
							ng-options="type.id as type.title for type in types"
							fui-select
							fui-refresh="updateTypes"
							class="form-control select select-primary"
							ng-disabled="fetchingTypes"
							id="paper_type"
					></select>
				</div>

				<section ng-if="form.pubType != 3">

					<div class="form-group">
						<label for="venue">Venue</label>
						<input  type="text"
								ng-model="form.venue"
								class="form-control"
								id="venue"
						>
					</div>

					<div class="form-group">
						<div class="row row-narrow-gutter">
							<div class="col-xs-4">
								<label for="volume">Volume</label>
								<input type="number" class="form-control" ng-model="form.volume" id="volume" min="1">
							</div>
							<div class="col-xs-4">
								<label for="start_page">Start page</label>
								<input type="number" class="form-control" ng-model="form.start_page" id="start_year" min="1">
							</div>
							<div class="col-xs-4">
								<label for="end_page">End page</label>
								<input type="number" class="form-control" ng-model="form.end_page" id="end_year" min="1">
							</div>
						</div>
					</div>

				</section>

				<div class="form-group">
					<label for="authors">Authors</label>
					<div class="tagsinput-primary">
						<input  type="text"
								ng-model="form.authors"
								fui-tagsinput
								fui-refresh="updateAuthors"
								dmd-array-input
								class="tagsinput"
								id="authors"
						>
					</div>
				</div>

				<div class="form-group">
					<label for="institutions">Institutions</label>
					<div class="tagsinput-primary">
						<input  type="text"
								ng-model="form.institutions"
								fui-tagsinput
								fui-refresh="updateInstitutions"
								dmd-array-input
								class="tagsinput"
								id="institutions"
						>
					</div>
				</div>

				<div class="form-group">
					<label for="keywords">Keywords</label>
					<div class="tagsinput-primary">
						<input  type="text"
								ng-model="form.keywords"
								fui-tagsinput
								fui-refresh="updateKeywords"
								dmd-array-input
								class="tagsinput"
								id="keywords"
						>
					</div>
				</div>


			</div>
		</div>

		<div class="form-group text-right">
			<button type="button" ng-click="$root.$back()" class="btn btn-link">Cancel</button>
			<button type="submit" class="btn btn-hg btn-primary">Submit</button>
		</div>

	</form>
</script>