@()

<script type="text/ng-template" id="related_publications.html">
	<div class="row">
		<div class="col-xs-12">



			<h1>Related Publications</h1>

			<div ng-if="error" class="alert alert-danger text-center">
				{{ error }}
			</div>

			<div xhr-indicator="fetchingPublications" ng-if="!error">
				<table class="table table-hover publications-list">
					<thead>
						<tr>
							<th>Title</th>
							<th>Authors</th>
							<th>Type</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in publications" ng-click="open(row.id)">
							<td>{{ row.title }}</td>
							<td>{{ row.authors.join(', ') }}</td>
							<td class="publications-list__paper-type">{{ row.pubTypeTitle }}</td>
							<td class="publications-list__actions">
								<div xhr-indicator="indicator(row.id)">
									<a href="/publications/{{ row.id }}/related" class="btn btn-info btn-sm" ng-click="$event.stopPropagation()">
										<span class="fui-search"></span>
										<span class="hidden-xs hidden-sm">Find related</span>
									</a>
									<a href="/publications/{{ row.id }}/edit" class="btn btn-primary btn-sm" ng-click="$event.stopPropagation()">
										<span class="fui-new"></span>
										<span class="hidden-xs hidden-sm">Edit</span>
									</a>
									<delete-button id="row.id" after-delete="delete(row.id)"></delete-button>
								</div>
							</td>
						</tr>
					</tbody>
					<tfoot ng-if="!publications.length">
						<tr>
							<td colspan="4" class="text-center text-muted">No results</td>
						</tr>
					</tfoot>
				</table>
				<dmd-pager></dmd-pager>
			</div>
		</div>
	</div>
</script>