.row-narrow-gutter
  margin-left: -($narrow-gutter-width / 2)
  margin-right: -($narrow-gutter-width / 2)
  &.form-group /* specificity */
    margin-left: -($narrow-gutter-width / 2)
    margin-right: -($narrow-gutter-width / 2)
  > [class*="col-"], > :not([class*="col-"]) > [class*="col-"]
    padding-left: ($narrow-gutter-width / 2)
    padding-right: ($narrow-gutter-width / 2)
