@()

<script type="text/ng-template" id="publication.html">

	<div ng-if="error" class="alert alert-danger text-center">
		{{ error }}
	</div>

	<div xhr-indicator="fetchingPublication" ng-if="!error">
		<h1>
			{{ publication.title }}
			<span class="label label-default">{{ publication.pubTypeTitle }}</span>
		</h1>
		<p>{{ publication.pubAbstract }}</p>

		<section ng-if="publication.authors.length">
			<h4>{{ publication.authors.length }} Author{{ publication.authors.length == 1 ? "" : "s" }}</h4>
			<p>{{ publication.authors.join(', ') }}</p>
		</section>

		<section ng-if="publication.institutions.length">
			<h4>Affiliations</h4>
			<p>{{ publication.institutions.join(', ') }}</p>
		</section>

		<section ng-if="publication.doi">
			<h4>DOI</h4>
			<p>{{ publication.doi }}</p>
		</section>

		<section ng-if="publication.keywords.length">
			<h4>Keywords</h4>
			<p>{{ publication.keywords.join(', ') }}</p>
		</section>

		<section ng-if="publication.area">
			<h4>Research area</h4>
			<p>{{ publication.area }}</p>
		</section>

		<section ng-if="publication.venue && publication.pubType != 3">
			<h4 ng-if="publication.pubType == 1">Journal</h4>
			<h4 ng-if="publication.pubType == 2">Conference</h4>
			<p>{{ publication.venue }}, vol. {{ publication.volume }}, p. {{ publication.start_page }}&ndash;{{ publication.end_page }}</p>
		</section>

		<section ng-if="publication.year">
			<h4>Published in</h4>
			<p>{{ publication.year }}</p>
		</section>

		<section>
			<h4>Similar</h4>
			TODO query and print similar
		</section>
	</div>

</script>