@()
<script type="text/ng-template" id="search_form.html">
<form class="search" ng-submit="search()" name="test">
	<div class="row">
		<div class="col-xs-12 col-md-8">

			<div class="form-group">
				<label for="title">Title</label>
				<input type="text" class="form-control" ng-model="form.title" id="title">
			</div>

			<div class="row">
				<div class="col-xs-12 col-md-6">

					<div class="form-group">
						<label for="area">Research area</label>
						<input type="text" class="form-control" ng-model="form.area" id="area">
					</div>

					<div class="form-group">
						<label for="keywords">Keywords</label>
						<select ng-model="form.keyword"
						id="keywords"
						ng-options="keyword for keyword in keywords"
						multiple
						fui-select
						fui-refresh="updateKeywords"
						ng-disabled="fetchingKeywords"
						class="form-control multiselect multiselect-primary"
						></select>
					</div>

					<div class="form-group">
						<label for="pubType">Paper type</label>
						<select ng-model="form.pubType"
						id="pubType"
						ng-options="type.id as type.title for type in types"
						multiple
						fui-select
						fui-refresh="updateTypes"
						ng-disabled="fetchingTypes"
						class="form-control multiselect multiselect-primary"
						></select>
					</div>

				</div>
				<div class="col-xs-12 col-md-6">

					<div class="form-group">
						<label for="venue">Venue</label>
						<input type="text" class="form-control" ng-model="form.venue" id="venue">
					</div>

					<div class="form-group">
						<label for="authors">Authors</label>
						<div class="tagsinput-primary">
							<input type="text"
							ng-model="form.author"
							fui-tagsinput
							fui-refresh="updateAuthors"
							dmd-array-input
							class="tagsinput"
							id="authors"
							>
						</div>
					</div>

					<div class="form-group">
						<label for="institutions">Institutions</label>
						<div class="tagsinput-primary">
							<input type="text"
							ng-model="form.institution"
							fui-tagsinput
							fui-refresh="updateInstitutions"
							dmd-array-input
							class="tagsinput"
							id="institutions"
							>
						</div>
					</div>

				</div>
			</div>


		</div>
		<div class="col-xs-12 col-md-4">

			<div class="form-group">
				<div class="row row-narrow-gutter">
					<div class="col-xs-6">
						<label for="start_year">Published from</label>
						<input type="number" class="form-control" ng-model="form.start_year" id="start_year" placeholder="Year" min="1">
					</div>
					<div class="col-xs-6">
						<label for="end_year">Published to</label>
						<input type="number" class="form-control" ng-model="form.end_year" id="end_year" placeholder="Year" min="1">
					</div>
				</div>
			</div>

			<div class="form-group">

				<label for="sort_by">Sort by</label>
				<select ng-model="form.sort_by"
				ng-options="option.key as option.name for option in sortVariants"
				class="form-control select select-primary select-narrow"
				fui-select
				id="sort_by"
				></select>

			</div>

			<div class="form-group">
				<label for="sort_order">Sort order</label>
				<select ng-model="form.sort_order"
				ng-options="option for option in ['ASC', 'DESC']"
				class="form-control select select-primary select-narrow"
				fui-select
				id="sort_order"
				></select>
			</div>


			<div class="form-group">
				<label for="limit">Results per page</label>
				<input type="number" class="form-control" ng-model="form.limit" id="limit" min="1">
			</div>

		</div>

	</div>


	<div class="form-group text-right">
		<button type="submit" class="btn btn-hg btn-primary">Find</button>
	</div>

</form>
</script>