@()

@scripts = {
	<!-- build:js /assets/js/app.js -->
	<script src="/assets/js/app/module.js"></script>
	<script src="/assets/js/app/config.js"></script>
	<script src="/assets/js/app/routes.js"></script>
	<script src="/assets/js/app/provider.js"></script>

	<script src="/assets/js/app/directives/model_formatters.js"></script>
	<script src="/assets/js/app/directives/publication_form.js"></script>
	<script src="/assets/js/app/directives/search_form.js"></script>
	<script src="/assets/js/app/directives/delete_button.js"></script>
	<script src="/assets/js/app/directives/pagination.js"></script>

	<script src="/assets/js/app/controllers/index.js"></script>
	<script src="/assets/js/app/controllers/list.js"></script>
	<script src="/assets/js/app/controllers/publication.js"></script>
	<script src="/assets/js/app/controllers/related_publications.js"></script>
	<script src="/assets/js/app/controllers/add.js"></script>
	<script src="/assets/js/app/controllers/edit.js"></script>
	<script src="/assets/js/app/controllers/publication_form.js"></script>
	<script src="/assets/js/app/controllers/search_form.js"></script>
	<script src="/assets/js/app/controllers/delete_button.js"></script>
	<script src="/assets/js/app/controllers/pagination.js"></script>
	<!-- endbuild -->
}

@main("Publications archive", null, scripts) {

	<div ng-app="dmdApp">
		@templates.add_publication()
		@templates.edit_publication()
		@templates.index()
		@templates.list()
		@templates.publication()
		@templates.related_publications()
		@templates.publication_form()
		@templates.search_form()
		@templates.delete_button()
		@templates.pagination()

		<div ng-view></div>
	</div>

}
