@()

<footer class="sticky-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3">
        <div class="footer">
          Innpolis, 2015
        </div>
      </div>
    </div>
  </div>
</footer>