@()

<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">Publications archive</a>
		</div>

		<div class="navbar-right">
			<ul class="nav navbar-nav">
				<li>
					<a href="/add">
						<span class="fui-plus"></span> Add publication
					</a>
				</li>
				<li><a href="/logout" target="_self">Log out</a></li>
			</ul>
		</div>
	</div>
</nav>