//
// Panels
// --------------------------------------------------


// Base class
.panel {
  margin-bottom: @line-height-computed;
  border: none;
  border-radius: @border-radius-base;
  box-shadow: none;
}

// Panel contents
.panel-body {
  // default
}

// Optional heading
.panel-heading {
  position: relative;
  border: none;

  > .close {
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -.5em;
  }
}

// Within heading, strip any `h*` tag of its default margins for spacing.
.panel-title {
  font-size: ceil((@font-size-base * 1.125));
}

// Optional footer (stays gray in every modifier class)
.panel-footer {
  background-color: @panel-footer-bg;
  border: none;
}


// Contextual variations
.panel-default {
  .panel-variant(@panel-default-bg, @panel-default-heading-bg, @panel-default-heading-color);
}
.panel-primary {
  .panel-variant(@panel-primary-bg, @panel-primary-heading-bg, @panel-default-heading-color);
}
.panel-success {
  .panel-variant(@panel-success-bg, @panel-success-heading-bg, @panel-default-heading-color);
}
.panel-info {
  .panel-variant(@panel-info-bg, @panel-info-heading-bg, @panel-default-heading-color);
}
.panel-warning {
  .panel-variant(@panel-warning-bg, @panel-warning-heading-bg, @panel-default-heading-color);
}
.panel-danger {
  .panel-variant(@panel-danger-bg, @panel-danger-heading-bg, @panel-default-heading-color);
}
