.publications-list
  > tbody
    > tr
      cursor: pointer

      > td
        vertical-align: middle

.publications-list__actions
  white-space: nowrap
  width: 1%

.publications-list__paper-type
  white-space: nowrap
