// Panels
//
.panel-variant(@background, @heading-background, @heading-color) {
  background: @background;

  & > .panel-heading {
    color: @heading-color;
    background-color: @heading-background;

    .badge {
      color: @heading-background;
      background-color: @heading-color;
    }
  }
}
