@()

<script type="text/ng-template" id="/utils/indicator.html">
	<div ng-if="indicator" class="progress indicator">
		<div class="progress-bar progress-bar-striped active"></div>
	</div>
	<div ng-if="!indicator" ng-transclude></div>
</script>