@()(implicit flash: Flash)


@main("") {

	<div class="row dmd-login">
		<div class="col-xs-12 col-md-6 col-md-offset-3">

			<form action="/login" method="post" class="login-form">
				@if(flash.get("error")) {
					<div class="alert alert-danger">
					@flash.get("error")
					</div>
				}

				<div class="form-group @(if(flash.get("error")) "has-error")">
					<input  name="login"
							type="text"
							class="form-control login-field"
							placeholder="Enter your login"
							id="login"
							required
							autofocus
					>
					<label class="login-field-icon fui-user" for="login"></label>
				</div>

				<div class="form-group @(if(flash.get("error")) "has-error")">
					<input   name="password"
							type="password"
							class="form-control login-field"
							placeholder="Password"
							id="password"
							required
					>
					<label class="login-field-icon fui-lock" for="password"></label>
				</div>

				<button type="submit" class="btn btn-primary btn-lg btn-block">Log in</button>
			</form>

		</div>
	</div>

}